*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  height: 100vh;
}

.container{
  width: 100%;
  height: 100%;
  /*smooths */
  overflow-y: scroll;
  scroll-behavior: smooth;
  /*change later*/
  scroll-snap-type: y mandatory;

}
.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  right: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255,255,.5);
}


.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content:flex-end;
  text-align: center;
}

.navbar ul li{
  margin: 0 1rem;
  padding: 1rem;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.navbar ul li a:hover{
  color: rgb(52, 50, 156);
}
section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  scroll-snap-align: center;
}
 #home p{
   display: flex;
   writing-mode: vertical-rl;
   text-orientation: mixed;
   align-items: flex-end;
   align-self: center;
   margin-top: 150px;
   color: rgb(39, 37, 125);
}

section .name{
  font-size: 100px;
  color: rgb(39, 37, 125);
  padding-left: 10%;
  letter-spacing: 7px;
}
section .texts h1{
  justify-content: center;
  align-self: center;
}
section h1{
  font-size: 75px;
  color: rgb(39, 37, 125);
  padding-left: 20%;
}
section h2{
  padding-top: 30px;
  padding-left: 10%;
}

section p{
  padding: 30px;
  width: 80%
}
section img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 20px 20px rgb(39, 37, 125);

}
section .me{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
  padding-right: 30px;
}
section .blurb{
  display: flex;
  flex-direction: row;
  width: 100%;
}
section .texts{
  width: 50%;
}
section .texts p{
  padding-left: 20%;
}
.skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.basic{
  padding-left: 40px;
  justify-content: center;
  align-self: center;
}
.facts{
  padding: 40px;
}
.facts h3{
  font-size: 25px;;
  font-weight: bolder;
  color: rgb(39, 37, 125);
}
.basic strong{
  font-weight: bolder;
  color: rgb(39, 37, 125);
}
